.header{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;


  background: grey;
  color: palegoldenrod;
  text-align: justify;
  height: 5em;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  font-family: "Gill Sans", sans-serif;
}

.header_right{
  display: flex;
  align-items: center;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.image-cropper {
  width: 200px;
  height: 200px;
  padding: 20px;
  overflow: hidden;
  border-radius: 50%;
}

.profil_pic{
  display: flex;
  justify-content: center;
}

.personnal_information{
  display: flex;
  justify-content: center;
  font-family: "Gill Sans", sans-serif;
}

.body_of_website{
  background: palegoldenrod;
  font-family: "Gill Sans", sans-serif;
}



